/* frontend/src/AlbumPage.css */

.album-page-container {
  min-height: 100vh;
  padding: 0;
  box-sizing: border-box;
}

.topbar {
  background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
  padding: 10px 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
}

.album-title {
  text-align: left;
  margin: 0;
  padding-left: 10px;
}

.columns-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.tier-column, .unranked-column {
  flex: 1;
  padding: 10px;
  min-width: 200px;
}

.column-header {
  text-align: center;
  margin-top: 0;
  min-height: 3em;
}

.tier-songs-container,
.unranked-songs-container {
  min-height: 100px; /* Minimum height for droppable areas */
  border: 1px dashed #ccc;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}